        /* 스타일 지정 전 초기화 필수 */
        * {
            margin: 0;
            padding: 0px;
            box-sizing: border-box;
        }

        /* 헤더부분 */
        header {
            background-image: url("/images/background.jpg");
            height: 880px;
            background-size: 100% 100%;
        }

        /*로고와 메뉴는 저 형식*/ 
        nav {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .logo {
            color: white;
            font-size: 35px;
            font-weight: 800;
        }

        .menu {
            display: flex;
        }

        .menu > div {
            margin-right: 30px;
            color: white;
            font-weight: 800;
            cursor: pointer;
        }

        /*검색 form*/
        .form__search {
            position: relative;
            top: 10px;
            left: 50px;
            border-radius: 6px;
            width: 430px;
            background-color: white;
            padding: 20px 30px;
            box-shadow: 0 4px 4px 0 rgb(214, 214, 214);
        }

        table {
            width: 100%;
        }

        .title__search {
            font-size: 30px;
            font-weight: 800;
            padding: 10px 0;
            color: rgb(75, 75, 75);
        }

        .sub__title__search{
            font-size: 12px;
            font-weight: 600;
            padding: 10px 0;
        }

        .input__search {
            height: 45px;
            width: 100%;
            color: rgb(100, 100, 100);
            font-size: 15px;
            border: 1px solid rgb(230, 230, 230);
        }

        /*버튼 감싸는 div, 여기에 flex 줘야함 */
        .button__box {
            height: 60px;
            display: flex;
            justify-content: end; /*가로 배치*/
            align-items: center; /* height 를 줘서 높이를 줘야 세로 배치가능*/
        }

        .button__search {
            background-color: #FF5A5F;
            color: white;
            width: 70px;
            height: 45px;
            font-size: 15px;
            font-weight: 700;;
            border-radius: 6px;
            border: 0px;
            cursor: pointer;
            
        }

        /*메인*/
        main {
            display: flex;
            justify-content: center;
        }

        .container {
            width: 80%;
        }

        .sec__title{
            font-size: 25px;
            font-weight: 800;
            color: rgb(68, 66, 66);
            margin: 20px 0;
        }

        .sec__title2{
            font-size: 25px;
            font-weight: 800;
            color: rgb(68, 66, 66);
            margin: 20px 0 0 0;
        }

        /*
            비율을 정할 때는 grid 사용
            비율을 정할 수 있음
        */
        .card__img {
            height: 70px;
            object-fit: cover; /*이미지 비율에 맞게 들어가면서 안깨짐*/
        }

        .card__box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
        }
        .card{
            display: flex;
            border: 1px solid rgb(210, 210, 210);
            border-radius: 6px;
            box-shadow: 0 0 3px 0 rgb(170, 170, 170);
        }

        .ad__img > img {
            margin: 30px 0 20px 0;
            border-radius: 6px;
            width: 100%;
            object-fit: cover;
        }


        .sec_content{
            display: grid;
            align-items: center;
            padding-left: 10px;
            font-weight: 600;
        }
        /*추천 여행지*/
        .choo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
        }

        .choo__img > img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }

        /*전 세계 숙소*/
        .home__box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }

        .home__img > img {
            width: 100%;
            object-fit: cover;
        }

        .info1 {
            margin-top: 5px;
            font-size: 13px;
            color: gray;
        }
        .info2 {
            font-size: 18px;
            font-weight: 600;
            color: rgb(60, 60, 60);
        }

        .star {
            font-size: 12px;
            color: rgb(30, 120, 120);
            font-weight: 800;
        }

        .count,
        .type {
            font-size: 12px;
        }